.motherDiv {
      height: 100vh;
      width: 100vw;
      /* background-color: cadetblue;
      background-size: cover; */
}

.imgSize {
      width: 360px;
}

.covImg {
      margin: 20px;
      display: flex;
}

.title {
      height: 39px;
      margin-left: 70px;
      padding: 15px;
}

.h1Title {
      margin: 0;
}

.genre {
      margin-top: 50px;
      margin-left: 70px;
}

.discription {
      display: block;
      margin-left: 20px;
}